@using System.Threading.Tasks
@using BlueTapeCrew.Services
@{
    var viewModelService = new ViewModelService();
    var layoutModel = Task.Run(() => viewModelService.GetLayoutViewModel()).Result;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@layoutModel.SiteTitle</title>
    <meta content="width=device-width, initial-scale=1.0,user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="@layoutModel.Description" name="description">
    <meta content="@layoutModel.Keywords" name="keywords">
    <meta content="@layoutModel.CopyrightLinktext" name="author">
    <meta property="og:site_name" content="@layoutModel.SiteTitle">
    @RenderSection("OpenGraph",false)
    <link rel="shortcut icon" href="~/favicon.ico">
    @RenderSection("HeadCss",true)
    @Styles.Render("~/bluetape/css")
    @*todo: upgrade jquery*@
    @*<script src="~/Scripts/jquery-2.2.4.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body class="ecommerce">
    <div class="header">
        <div class="pre-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 additional-shop-info">
                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-phone"></i><span>@layoutModel.ContactPhone</span></li>
                            <li><i class="fa fa-envelope"></i><a href="@layoutModel.ContactEmail">@layoutModel.ContactEmail</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 additional-nav">
                        <ul class="list-unstyled list-inline pull-right">
                            <li>@Html.ActionLink("My Account", "Index", "Manage")</li>
                            <li><a href="~/cart">Shopping Cart</a></li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="site-logo" href="@Url.Action("Index", "Home")"><img src="~/content/logo.png" alt="@layoutModel.SiteTitle"></a>
            <div class="top-cart-block">
                <div class="top-cart-info">
                    <a href="javascript:void(0);" class="top-cart-info-count">@ViewBag.CartCount items</a>
                    <a href="javascript:void(0);" class="top-cart-info-value">$@ViewBag.CartTotal</a>
                </div>
                <a href="javascript:;"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <div class="header-navigation" style="display: block">
                <ul>
                    @foreach (var item in layoutModel.Menu)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle catLink" data-toggle="dropdown" data-target="#" href="javascript:;">@Html.DisplayFor(modelItem => item.MenuName)</a>
                            <ul class="dropdown-menu">
                                @foreach (var itm in item.Items)
                                {
                                    <li>@Html.ActionLink(itm.ItemName, "Details", "Products", new { @name = itm.LinkName }, new { @class = "product-link" })</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="pre-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2>About us</h2>
                    <p>@layoutModel.AboutUs</p>
                </div>
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2>Contact Us</h2>
                    <address class="margin-bottom-40">
                        Email: <a href="@layoutModel.ContactEmail">@layoutModel.ContactEmail</a><br>
                    </address>
                </div>
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2 class="margin-bottom-0">Latest Tweets</h2>
                    <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="@layoutModel.TwitterWidgetId" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @("@" + layoutModel.TwitterHandle)...</a>
                </div>
                <div class="col-md-3 col-sm-6 pre-footer-col">
                    <h2>Custom Shirts</h2>
                    <p>Contact us about custom shirt oders.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="social-icons">
                        <li><a class="facebook" data-original-title="facebook" href="@layoutModel.FaceBookUrl"></a></li>
                        <li><a class="twitter" data-original-title="twitter" href="@layoutModel.TwitterUrl"></a></li>
                        <li><a class="linkedin" data-original-title="linkedin" href="@layoutModel.LinkedInUrl"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="pre-footer-subscribe-box pull-right">
                        <h2>Newsletter</h2>
                        @using (Html.BeginForm("Subscribe","Home",FormMethod.Post))
                        {
                            <div class="input-group">
                                <input type="text" placeholder="youremail@mail.com" class="form-control" name="subscribeEmail">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 padding-top-10">
                    &copy; @DateTime.Now.Year - @layoutModel.SiteTitle | @layoutModel.CopyrightText <a href="@layoutModel.CopyrightUrl">@layoutModel.CopyrightLinktext</a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><img src="~/Content/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
                        <li><img src="~/Content/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa via PayPal"></li>
                        <li><img src="~/Content/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard via PayPal"></li>
                        <li><img src="~/Content/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express via PayPal"></li>
                        <li><img src="~/Content/img/payments/discover.png" alt="We accept JCB" title="We accept Discover via PayPal"></li>
                        <li><img src="~/Content/img/payments/JCB.jpg" alt="We accept JCB" title="We accept JCB via PayPal"></li>
                        <li><img src="~/Content/img/payments/dinersclub.png" alt="We accept JCB" title="We accept Diner's Club via PayPal"></li>
                        <li><img src="~/Content/img/payments/enroute.jpg" alt="We accept JCB" title="We accept EnRoute via PayPal"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", false)
    <div id="product-pop-up" style="display: none; width: 700px;"></div>
</body>
</html>
