@model BlueTapeCrew.ViewModels.LoginViewModel
@{
  ViewBag.Title = "Log in";
}
@section HeadCss
{

}
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <section id="loginForm">
          @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
          {
            @Html.AntiForgeryToken()
            <hr />
            <h4>Sign in with your Blue Tape Crew Account</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
              @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group">
              @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input id="submitLogin" type="submit" value="Log in" class="btn btn-info" />
              </div>
            </div>
          }
        </section>
      </div>
      <div class="col-md-4">
        <h1 id="registerAccount">
          @Html.ActionLink("Register a local account.", "Register")
        </h1>
        <h1>
          @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </h1>
      </div>
    </div>
  </div>
</div>

@section Scripts{
  @Scripts.Render("~/bluetape/js")
  <script>
    jQuery(document).ready(function () {
      Layout.init();
      Layout.initTwitter();
      Layout.initOWL();
      Layout.initImageZoom();
      Layout.initTouchspin();
      Layout.initUniform();
    });
  </script>
}
