@model Site.Areas.Admin.Models.AdminCreateUserModel
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<form asp-area="Admin" asp-controller="AspNetUsers" asp-action="Create" method="post">
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsAdmin, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.IsAdmin, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="register" type="submit" class="btn btn-info" value="Register" />
        </div>
    </div>
</form>
<div>
    <a asp-area="Admin" asp-controller="AspNetUsers" asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $("#Email").on("input", function () {
            $("#UserName").val($(this).val());
        });
    });
</script>