@model Site.Areas.Admin.Models.EditProductViewModel

@{
    ViewBag.Title = "Edit";
}

<style>
    textarea {
        width: 100%;
        height: 150px;
    }

    .listImage {
        width: 50%;
        height: 50%;
    }
</style>
<div>
    <a href="~/admin" class="label label-info">Back to List</a>
    <a class="label label-danger pull-right" href="~/Admin/AdminProducts/Delete/@Model.Product.Id">Delete This Product</a>
</div>
<h2>Edit</h2>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <form asp-area="Admin"
                      asp-controller="AdminProducts"
                      asp-action="Edit"
                      asp-antiforgery="true"
                      method="post"
                      enctype="multipart/form-data"
                      class="margin-bottom-20">
                    <h4>Product</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Product.Id)
                    @Html.HiddenFor(model => model.Product.ImageId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Product.ProductName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product.Slug, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Product.Slug, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-info" />
                            <a href="Admin/AdminProducts/Index" class="btn btn-default">Cancel</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <h2>Styles</h2>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-hover table margin-top-20">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Product.Styles)
                        {
                            <tr id="styleRow@(item.Id)">
                                <td>@item.Id</td>
                                <td>@item.Color.ColorText</td>
                                <td>@item.Size.SizeText</td>
                                <td class="text text-success">$ @string.Format("{0:n2}", item.Price)</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="deleteStyle(@item.Id)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        }
                        <tr class="bg-blue-dark" style="height: 20px">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <form asp-area="Admin"
                                  asp-controller="AdminProducts"
                                  asp-action="CreateStyle"
                                  asp-antiforgery="true"
                                  method="post"
                                  enctype="multipart/form-data"
                                  class="margin-bottom-20">
                                <td><input type="hidden" name="ProductId" value="@Model.Product.Id" /></td>
                                <td>@Html.DropDownList("ColorId")</td>
                                <td>@Html.DropDownList("SizeId")</td>
                                <td><input type="text" name="Price" /></td>
                                <td><button type="submit" class="btn bg-blue-dark" id="add-style-submit-button">Add Style</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Sizes</h2>
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Size</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Sizes)
                                {
                                    <tr>
                                        <td>@item.SizeOrder</td>
                                        <td>@item.SizeText</td>
                                        <td></td>
                                    </tr>
                                }
                                <tr class="bg-success" style="height: 20px">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <form asp-area="Admin"
                                      asp-controller="AdminProducts"
                                      asp-action="CreateSize"
                                      asp-antiforgery="true"
                                      method="post">
                                    <tr>
                                        <td><strong>Add New Size:</strong></td>
                                        <td><input type="text" name="size" /></td>
                                        <td>
                                            <input type="hidden" name="productId" value="@Model.Product.Id" />
                                            <button type="submit" class="btn btn-success" id="add-size-submit-button">Add Size</button>
                                        </td>
                                    </tr>
                                </form>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <h2>Colors</h2>
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Color</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Colors)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.ColorText</td>
                                        <td></td>
                                    </tr>
                                }
                                <tr class="bg-purple-medium" style="height: 20px">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <form asp-area="Admin"
                                      asp-controller="AdminProducts"
                                      asp-action="CreateColor"
                                      asp-antiforgery="true"
                                      method="post">
                                    <tr>
                                        <td>Color Name:</td>
                                        <td>
                                            <input type="hidden" value="@Model.Product.Id" name="productId" />
                                            <input type="text" name="newColor" />
                                        </td>
                                        <td><button type="submit" class="btn purple-medium" id="submit-add-color-button">Add Color</button></td>
                                    </tr>
                                </form>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h1>Images</h1>
        <h2>Main Image</h2>
        <form id="saveImageForm" enctype="multipart/form-data"  action="SaveProductImage">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.Product.Id" name="productId"/>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="file" name="file" />
                    <input type="submit"class="btn btn-default" value="Upload" />
                    @Html.ValidationMessageFor(model => model.Product.ImageId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="imageWrapper">
                @if (Model.Product.Image != null)
                {
                    <img src="data:@Model.Product.Image.MimeType;base64,@Convert.ToBase64String(Model.Product.Image.ImageData)" />
                }
            </div>
        </form>
        <hr />
        <h2>Additional Images</h2>
        <div class="row">
            <div class="col-xs-12">
                <h3>Add New Image</h3>
                <form id="additonalImageForm" enctype="multipart/form-data" onsubmit="vm.saveAdditionImage()">
                    @Html.AntiForgeryToken()
                    <input type="file" name="file" id="additional-image-chooser" />
                    <input type="hidden" name="productId" value="@Model.Product.Id" />
                    <input type="submit" value="Upload" class="btn btn-default" id="upload-additional-image-button" />
                </form>
            </div>
            <hr />
        </div>
        @if (Model.Product.ProductImages != null)
        {
            foreach (var image in Model.Product.ProductImages.Select(x => x.Image))
            {
                <hr />
                <div class="row" id="imageRow@(image.Id)">
                    <div class="col-xs-9">
                        <img class="listImage" src="data:@image.MimeType;base64,@Convert.ToBase64String(image.ImageData)" />
                    </div>
                    <div class="col-xs-3">
                        <button class="btn rounded-2 btn-danger" onclick="deleteImage(@image.Id)"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
            }
        }

    </div>
</div>