@model BlueTapeCrew.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="main">
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h5">You are logged in as @User.Identity.Name</h2>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-8">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <hr />
                            <h4>Sign in with your Blue Tape Crew Account</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input id="submitLogin" type="submit" value="Log in" class="btn btn-info" />
                                </div>
                            </div>
                        }
                    </section>
                </div>
                <div class="col-md-4">
                    <h1 id="registerAccount">
                        <a asp-action="Register" id="register-account-link">Register a local account.</a>
                    </h1>
                    <h1><a id="forgot-password-link" asp-action="ForgotPassword">Forgot your password?</a></h1>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initTwitter();
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
        });
    </script>
}
