@model List<BlueTapeCrew.Areas.Admin.Models.AdminCategoryViewModel>

@{
    var productId = ViewBag.ProductList;
}
<a href="~/Admin/AdminProducts" class="btn btn-sm btn-success">RETURN TO PRODUCT LISTINGS</a>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <table class="table">
                <tr>
                    <td>
                        <h2>New Category Name</h2>
                        <input name="categoryName" class="form-control" />
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <th><input type="submit" value="Add Category" class="btn btn-info" /></th>
                    <td></td>
                </tr>
            </table>
        }
    </div>
</div>
<h1>Categories</h1>
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CategoryImage</th>
            <th>Products</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @if (item.ImageId != null)
                    {
                        <img src="~/Images/ProductThumb/@item.ImageId" />
                    }
                </td>
                <td>
                    <ul>
                        @foreach (var itm in item.Products)
                        {
                            <li>
                                <form action="admincategories/RemoveProductFromCategory" method="post">
                                    <input type="hidden" name="productId" value="@itm.Id" />
                                    <input type="hidden" name="categoryId" value="@item.Id" />
                                    @itm.Name
                                    <input type="submit" value="X" class="btn btn-danger btn-xs" />
                                </form>
                            </li>
                        }
                    </ul>
                    <form action="admincategories/addproducttocategory" method="post">
                        <input type="hidden" value="@item.Id" name="categoryId" />
                        @Html.DropDownList("ProductId")
                        <input type="submit" value="+" class="btn btn-success btn-xs" />
                    </form>
                </td>
                <td>
                    @Html.ActionLink("Edit " + item.Name, "Edit", new { @id = item.Id }, new { @class = "btn btn-warning btn-xs" })<br />
                    @Html.ActionLink("Delete Category", "Delete", new { @id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                    <form method="post" action="admincategories/PublishCategory">
                        <input type="hidden" name="id" value="@item.Id" />
                        @if (item.Published)
                        {
                            <input type="submit" class="btn btn-success btn-xs" value="Published" />
                        }
                        else
                        {
                            <input type="submit" class="btn btn-default btn-xs" value="Not Published" />
                        }
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>