@model BlueTapeCrew.ViewModels.CheckoutViewModel
<div class="main">
    <div class="container">
        <h1>Order Review</h1>
        <h1>Products</h1>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th>Product</th>
                <th>Style</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Cart.Items.Any())
            {
                foreach (var item in Model.Cart.Items)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.StyleText</td>
                        <td>@Html.DisplayFor(x => item.Quantity)</td>
                        <td>@Html.DisplayFor(x=> item.SubTotal)</td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <div class="row margin-bottom-40">
            <div class="col-md-12">
                <h1>Shipping Address</h1>
                @Model.FirstName @Model.LastName<br />
                @Model.Phone<br />
                @Model.Email<br />
                <br />
                @Model.Address<br />
                @Model.City, @Model.State @Model.Zip
                <hr />
                <h1>Order Total</h1>
                Subtotal: @Html.DisplayFor(x=>x.Cart.Totals.SubTotal)<br />
                Shipping: @Html.DisplayFor(x=>x.Cart.Totals.Shipping)<br />
                Total: <b>@Html.DisplayFor(x=>x.Cart.Totals.Total)</b>
                <hr />
                @using (Html.BeginForm("Complete", "Checkout", FormMethod.Post))
    {
            @Html.AntiForgeryToken()
            <input type="hidden" value="@ViewBag.Token" name="token" />
            <input type="hidden" value="@ViewBag.PayerId" name="payerId" />
            <input type="hidden" value="@ViewBag.PaymentId" name="paymentId" />
        <button type="submit" class="btn btn-info">Confirm Order</button>
}
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="_BlueTapeJs" />
    <script>
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initTwitter();
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
        });
    </script>
}
