@model IEnumerable<BlueTapeCrew.Models.Entities.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Return To Admin Panel", "Index","AdminProducts",null,new{@class="btn btn-warning"})
</p>
<p>
    @Html.ActionLink("Create New User", "Create",null,null,new{@class="btn btn-success"})
</p>
<table class="table table-condensed table-hover table-striped table-bordered">
    <tr>
        <th>Admin</th>
        <th>
            @Html.DisplayNameFor(model => model.Email) /
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.Id">
        <td>
            @if (item.AspNetRoles.Any(x => x.Name == "Admin"))
            {
                <span>X</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
            @if (!@item.Email.Equals(@item.UserName))
            {
                @:/ @Html.DisplayFor(modelItem => item.UserName)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
            @Html.DisplayFor(modelItem => item.State)
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new { @class = "delete-user" })
        </td>
    </tr>
}

</table>
